* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

body {
 background-color: black;
 color: white;
}

/*****************************************navbar-css********************************************** */
#sideNav {
 width: 250px;
 height: 100vh;
 position: fixed;
 right: -250px;
 top: 0;
 background: #009662;
 transition: 0.5s;
 z-index: 5;
}

#menuBtn {
 height: 50px;
 width: 50px;
 background: #009662;
 text-align: center;
 position: fixed;
 z-index: 6;
 right: 20px;
 top: 10px;
 border-radius: 3px;
 cursor: pointer;
}

#menuBtn img {
 width: 20px;
 margin-top: 15px;
}

nav ul li {
 list-style: none;
 margin: 50px 20px;
}

nav ul li a {
 text-decoration: none;
 color: #fff;
}


/************************************************ content css************************************************/
.header1,
.header2,
.header3,
.header4,
.header5 {
 text-align: center;
 margin-top: 10%;
 margin-bottom: 4%;
}

.section1 img {
 position: relative;
 width: 40vw;
}

.section2 img {
 position: relative;
 width: 40vw;
 float: right;
}

.section3 img {
 position: relative;
 width: 40vw;
}

.section4 img {
 position: relative;
 width: 40vw;
 float: right;
}

.section5 img {
 position: relative;
 width: 40vw;
}

.section1-content,
.section2-content,
.section3-content,
.section4-content,
.section5-content {
 position: relative;
 width: 50vw;
 height: fit-content;
 background-image: radial-gradient(rgba(0, 150, 98, 0.8) 3.65%, rgba(255, 255, 255, 0) 100%);
 -webkit-backdrop-filter: blur(5px);
 backdrop-filter: blur(3px);
 padding: 80px 10px 80px 60px;
 border-radius: 120px;
 font-size: 1.2rem;
}

.section1-content,
.section3-content,
.section5-content {
 position: relative;
 margin-left: -8%;
}

.section2-content,
.section4-content {
 position: relative;
 margin-left: 10%;
 padding-left: 10px;
 padding-right: 50px;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
 position: relative;
 display: flex;
 align-items: center;
}

.section2,
.section4 {
 flex-direction: row-reverse;
}


/********css animation js fade-in/fade-out****************/
.reveal {
 position: relative;
 transform: translateY(150px);
 opacity: 0;
 transition: all 1s ease;
}

.reveal.active {
 transform: translateY(0px);
 opacity: 1;
}


/********************************************css slider***************************************************/
.slider-container {
 background: white;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 position: relative;
 top: 0px;
 margin-top: 0;
}

.slider {
 width: 100%;
 height: 525px;
 text-align: center;
 position: relative;
 top: 0;
 overflow: hidden;
 margin-top: 0;
}

.slides {
 display: flex;
 overflow-x: scroll;
 position: relative;
 scroll-behavior: smooth;
 scroll-snap-type: x mandatory;
 top: 0;
 margin-top: 0;
}



.slide {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-shrink: 0;
 width: 100vw;
 height: 525px;
 margin-right: 0px;
 box-sizing: border-box;
 background: black;
 transform-origin: center center;
 transform: scale(1);
 scroll-snap-align: center;
}

.slide__text {
 font-size: 40px;
 font-weight: bold;
 font-family: sans-serif;
}

.slide a {
 position: absolute;
 top: 48%;
 width: 35px;
 height: 35px;
 border: solid black;
 border-width: 0 4px 4px 0;
 padding: 3px;
 box-sizing: border-box;
}

a.slide__prev {
 transform: rotate(135deg);
 -webkit-transform: rotate(135deg);
 left: 5%;
}

a.slide__next {
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 right: 5%;
}

.image_full {
 display: block;
 width: 100%;
}

.image_mobile {
 display: none;
}

.slideHeader {
 position: absolute;
 color: black;
 left: 10px;
 top: 25%;

}

.slideLink a {
 position: absolute;
 background-color: green;
 color: white;
 width: 10vw;
 text-decoration: none;
 border: none;
 left: 10px;
 top: 35%;
}

/*******************************************css footer*****************************************************************/
footer {

 margin-top: 30px;
 width: 100%;
 background: rgb(2, 0, 36);
 background: linear-gradient(40deg, rgba(2, 0, 36, 1) 0%, rgba(0, 150, 98, 1) 68%, rgba(31, 177, 126, 1) 100%);
 color: #fff;
 padding: 20px 0 20px 0px;
 font-size: 14px;
 line-height: 20px;
}

.row {
 width: 100vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;

}



.logo {
 width: 15vw;
 margin-bottom: 30px;
 display: inline;

}

.column h3 {
 margin-bottom: 15px;
}

.column ul li {
 list-style: none;
 margin-bottom: 12px;
}

.column ul li a {
 text-decoration: none;
 color: #fff;
}



.column p {
 width: 15vw;
}

.sociale-media {
 width: 15px;
 height: 15px;
 margin-right: 10px;
}

.SuivezNous {
 margin-top: 0;
 text-align: center;
}


/**************************************************css of header*******************************************************/
.search-bar {
 width: 100%;
 max-width: 300px;
 background: rgba(255, 255, 255, 0.2);
 display: flex;
 align-items: center;
 border-radius: 60px;
 padding: 5px 20px;
 backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
 background: transparent;
 flex: 1;
 border: 0;
 outline: none;
 padding: 15px 20px;
 font-size: 15px;
 color: #cac7ff;
}

::placeholder {
 color: #cac7ff;
}

.search-bar button img {
 width: 25px;
}

.search-bar button {
 border: 0;
 border-radius: 50%;
 width: 30px;
 height: 30px;
 background: #fff;
 cursor: pointer;
}

.header {
 display: flex;
 justify-content: space-between;
 margin-left: 20px;
 margin-top: 30px;
}

.header a {
 text-decoration: none;
 color: #fff;
 background: #52C852;
 padding: 3px 30px;
 border-radius: 50px;
 margin-right: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 13px;
 cursor: pointer;
 transition: 0.7s;
}

.button {
 display: flex;
 justify-content: center;
 position: relative;
 right: 100px;
}

.header a:hover {
 background: #fff;
 color: #009662;
}

/**********************************************************************************************************************/
@media only screen and (max-width:600px) {

 .section1,
 .section2,
 .section3,
 .section4,
 .section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  text-align: center;
 }

 .header1,
 .header2,
 .header3,
 .header4,
 .header5 {
  margin-top: 10%;
 }

 .section1-content,
 .section2-content,
 .section3-content,
 .section4-content,
 .section5-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: 10%;
  padding: 10%;
  width: 75%;
 }

 .section1-image,
 .section2-image,
 .section3-image,
 .section4-image,
 .section5-image img {
  margin: auto;
  width: 60%;
 }

 /************media-query footer*************/
 .row {
  flex-direction: column;
 }

 .logo {
  margin-top: 20px;
  width: 45vw;
 }

 .column p {
  text-align: center;
  margin: auto;
  width: 50vw;
  margin-bottom: 20px;
  font-size: 1.2rem;
 }

 .column2,
 .column3 {
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
 }