$main-color: linear-gradient(40deg, rgba(2, 0, 36, 1) 0%, rgba(0, 150, 98, 1) 68%, rgba(31, 177, 126, 1) 100%);

footer {
 margin-top: 30px;
 width: 100%;
 background-image: $main-color;
 color: #fff;
 font-size: 1rem;
 line-height: 1.6;
 display: flex;
 flex-direction: column;
 padding: 10px;

 .SuivezNous {
  border-bottom: solid 1px white;

  .h3Footer {
   text-align: center;
   margin-bottom: 10px;
  }

  .socialMedia-icons {
   bottom: 15px;
   display: flex;
   justify-content: space-between;
   width: 20%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
  }
 }

 .Logo-L img {
  margin-top: 10px;
  width: 15vw;
 }

 .containerL {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .ABOUT {
   max-width: 20%;

   p {
    font-size: 1rem;
   }
  }

  .SERVICES {
   ul {
    list-style-type: none;
    line-height: 1.6;
   }

   a {
    color: white;
    text-decoration: none;
   }

   a:hover {
    color: orange;
    text-decoration: none;
   }


  }

  .LINKS {
   ul {
    list-style-type: none;
    line-height: 1.6;
   }

   a {
    color: white;
    text-decoration: none;
   }

   a:hover {
    color: orange;
    text-decoration: none;
   }
  }

 }

 .copyright {
  text-align: center;
 }

}