body{
    background-color: #212529;
    color:white;
}
/*--------------------------------------footer----------------------------------------------------------*/
/*-------------------------------------général text parameters----------------------------------*/
h1{
    text-align: center;
    color:#00925b;
}
p{
    text-align: center;
}
th{color:#00925b;}
.pagg{
text-align: center;
}
.rowa{border:#00925b;}
.blur{background-image: radial-gradient(rgba(0, 150, 98, 0.8) 3.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
    border-radius: 50px;
    box-shadow: 0px 5px 4px 5px rgba(0, 150, 98, 0.25);}
/*------------sidenav--------------*/
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009662;
    transition: 0.5s;
    z-index: 5;
    display: block;
}
#menuBtn{
    height: 50px;
    width: 50px;
    background: #009662;
    text-align: center;
    position: fixed;
    z-index: 6;
    right: 20px;
    top: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
/*-----------------------head---------------------------*/
.logo{
    width:40%
}
.headerr{display:block;
padding: 1.5vw;
justify-content: start;
text-decoration:none;
box-decoration-break: none;
}
.headerr li{
    text-decoration: none;
}
.buttom{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background:  #52C852;
    padding: 3px 30px;
    border-radius: 50px;
    margin-right: 1vw;
    font-size: 1.6vw;
    display: inline-block;
    cursor: pointer;
    transition: 0.7s;
    float: right;
}
.buttom:hover{
    background: #fff;
    color: #009662;
}

.icone-rech{
    z-index: 1000;
    position: relative;
    background-color: transparent;
    margin-top: -4vw;
    margin-left:15vw;
}
.rech{
    width: 100%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    align-items: center;
    border-radius: 60px;
    padding: 5px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    float: right;
}
.rech input{
    background: transparent;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 1.5vw;
    color: #cac7ff;

}
.search-bar{
    display: inline-block;
    height: 4vw;
    float:inline-start
}
.boutons{
    display: inline-block;
    float:inline-end;
    display: inline;
}
/*******************connexion**********************************/
/*.connexion{
    font-size: large;
    justify-content: space-between;
    text-align: center;
    background-image: radial-gradient(rgba(0, 150, 98, 0.8) 3.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
    border-radius: 50px;
    box-shadow: 0px 5px 4px 5px rgba(0, 150, 98, 0.25);
    padding: 3vw;
    padding-block: 4.6vw;

}
.connexion input{ 
margin: 1.5vw;
background-color: #212529;
color: white;
}
.connexion button{ margin:1.5vw;
background-color: #52C852;
color:white;}


.inst{
    text-align: center;
    background-image: radial-gradient(rgba(0, 150, 98, 0.8) 3.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
    border-radius: 50px;
    box-shadow: 0px 5px 4px 5px rgba(0, 150, 98, 0.25);
    float:right;
    height: inherit;
    padding:2vw;
    }
.inst h2{color:#00925b}
.inst a{color:white;
display:inline-flex ;
}
.inst a:hover{color:orange}
.inst button{background-color: #52C852;
color:white;}
.icone{
    margin-top: 2vw;
    margin-left: -4vw;
    width: 40%;
display: inline-flex;}
.catégories{
padding-right: 6vw;
    text-align: right;
width: 100%;
justify-content:space-between;}
.catégories ul{
    text-decoration: none;
    box-decoration-break: none;
    display: flexbox;
}
.catégories li{
    margin:0.5vw;
display: inline-block;}
.catégories img{
    width:min-content;
    position:sticky;
    display:inline;
}*/
@media only screen and (max-width=700px) {
    .inst{display: block;
    width:90%}
    .connexion{display: block;
        width:90%}
    
}
footer{margin-top:30px;width:100%;background-image:linear-gradient(40deg, rgb(2, 0, 36) 0%, rgb(0, 150, 98) 68%, rgb(31, 177, 126) 100%);color:#fff;font-size:1rem;line-height:1.6;display:flex;flex-direction:column;padding:10px}footer .SuivezNous{border-bottom:solid 2px #fff}footer .SuivezNous .h3Footer{text-align:center;margin-bottom:10px}footer .SuivezNous .socialMedia-icons{bottom:15px;display:flex;justify-content:space-between;width:20%;margin-left:auto;margin-right:auto;margin-bottom:10px}footer .SuivezNous .socialMedia-icons a{color:#fff}@media only screen and (max-width: 480px){footer .SuivezNous .socialMedia-icons{width:55%}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .SuivezNous .socialMedia-icons{width:30%}}@media only screen and (max-width: 480px){footer .Logo-L{display:flex;justify-content:center}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .Logo-L{display:flex;justify-content:center}}footer .Logo-L img{margin-top:10px;width:15vw}@media only screen and (max-width: 480px){footer .Logo-L img{width:35vw}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .Logo-L img{width:40vw}}footer .containerL{margin-top:20px;width:100%;display:flex;justify-content:space-between}@media only screen and (max-width: 480px){footer .containerL{flex-direction:column;justify-content:center;align-items:center;margin:auto;text-align:center}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .containerL{flex-direction:column;justify-content:center;align-items:center;margin:auto;text-align:center}}footer .containerL .ABOUT{max-width:20%}@media only screen and (max-width: 480px){footer .containerL .ABOUT{margin-top:20px;margin-bottom:10px;max-width:50%}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .containerL .ABOUT{margin-top:20px;margin-bottom:10px;max-width:50%}}footer .containerL .ABOUT p{font-size:1rem}@media only screen and (max-width: 480px){footer .containerL .SERVICES{margin-top:10px;margin-bottom:10px}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .containerL .SERVICES{margin-top:10px;margin-bottom:10px}}footer .containerL .SERVICES ul{list-style-type:none;line-height:1.6}footer .containerL .SERVICES a{color:#fff;text-decoration:none}footer .containerL .SERVICES a:hover{color:orange;text-decoration:none}@media only screen and (max-width: 480px){footer .containerL .LINKS{margin-top:10px;margin-bottom:20px}}@media only screen and (min-width: 481px)and (max-width: 768px){footer .containerL .LINKS{margin-top:10px;margin-bottom:20px}}footer .containerL .LINKS ul{list-style-type:none;line-height:1.6}footer .containerL .LINKS a{color:#fff;text-decoration:none}footer .containerL .LINKS a:hover{color:orange;text-decoration:none}footer .copyright{text-align:center}
.ABOUT{text-align: left;}