body
{
background-color: #212529;
 color:rgb(255, 255, 255);
 position:center;
 text-align: center;
}
/*--------------------------------------head------------------------------------------------------------*/
.search-bar{
    width: 100%;
    height: 50px;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
    width: 25px;
    height:50px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 30px;
}
.header a{
       text-decoration: none;
       color: #fff;
       background:  #52C852;
       padding: 3px 30px;
       border-radius: 50px;
       margin-right: 10px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 13px;
       cursor: pointer;
       transition: 0.7s;
}
.button{
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px;
}
.header a:hover{
    background: #fff;
    color: #009662;
}
/*--------------------------------------footer----------------------------------------------------------*/
.footerf {
    width: 100%;
    bottom: 0;
    background: rgb(2,0,36);
    background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(0,150,98,1) 68%, rgba(31,177,126,1) 100%);
    color: #fff;
    padding: 20px 0 20px;
    font-size: 13px;
    line-height: 20px;
    margin-top:30px;
}


.rowf {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.columnf {
    flex-basis: 25%;
    padding: 10px;
}

.logof {
    width: 100px;
    margin-bottom: 30px;
}

.columnf h3 {
    margin-top: 45px;
    margin-bottom: 15px;
}

.columnf ul li {
    list-style: none;
    margin-bottom: 12px;
}

    .columnf ul li a {
        text-decoration: none;
        color: #fff;
    }

.secondf {
    margin-top: 45px;
}

.sociale-mediaf {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.columnf p {
    margin-bottom: 10px;
}
/*-------------------------------------général text parameters----------------------------------*/
h1{
    color:#00925b;
}
th{color:#00925b;}
.pagg{
text-align: center;
}
.rowa{border:#00925b;}
#fgar{margin-top:100px;}
/*------------sidenav--------------*/
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009662;
    transition: 0.5s;
    z-index: 5;
}
#menuBtn{
    height: 50px;
    width: 50px;
    background: #009662;
    text-align: center;
    position: fixed;
    z-index: 6;
    right: 20px;
    top: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}